In [1]:
!ls ../../data

clean_kc_house_data.csv
column_names.md
kc_house_data.csv

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [4]:
df = pd.read_csv('../../data/clean_kc_house_data.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20970 entries, 0 to 20969
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     20970 non-null  int64
 1   id             20970 non-null  int64
 2   date           20970 non-null  object
 3   price          20970 non-null  float64
 4   bedrooms       20970 non-null  int64
 5   bathrooms      20970 non-null  float64
 6   sqft_living    20970 non-null  int64
 7   sqft_lot       20970 non-null  int64
 8   floors         20970 non-null  float64
 9   condition      20970 non-null  object
 10  grade          20970 non-null  object
 11  sqft_above     20970 non-null  int64
 12  sqft_basement  20970 non-null  float64
 13  yr_built       20970 non-null  int64
 14  zipcode        20970 non-null  int64
 15  lat            20970 non-null  float64
 16  long           20970 non-null  float64
 17  sqft_living15  20970 non-null  int64
 18  sqft_lot15     20970 non-null  int64
dtypes: float64(6), int64(10), object(3)
memory usage: 3.0+ MB